### Environment variables .env

### General settings, *ATTENTION! Configure files .htaccess in folder main and /public for RewriteBase
# Path to application (Example: https://domain.com or http://localhost/dbmframework/)
APP_URL="http://localhost/"
# Name of the project or owner (Domain.com)
APP_NAME="My application"
# E-mail of the owner (administrator)
APP_EMAIL="email@domain.com"
# Available application languages ("PL|EN|DE|...") separated by "|".
# The first language is the default language.
# At least one language must be defined.
APP_LANGUAGES="EN|PL"
# Application environments: "production" or "development", by default production
APP_ENV="development"
# Application authentication session name key; for security write unique key name "dbmUserPIN"
APP_SESSION_KEY="dbmUserId00110001"
# Dir path to application panel, for security enter "panelPIN"
APP_ADMIN="panel0101"

### Cache settings
# Page caching: enable or disable true/false, default=true, use cache to avoid recompilation
CACHE_ENABLED=false

### Database settings
# Database framework and driver configuration. Format: "FRAMEWORK|driver"
# To use the database, this field should be set to "PDO|pdo_mysql" (default option)
# Optional: "PDO|pdo_pgsql", "DOCTRINE|pdo_mysql", "DOCTRINE|pdo_pgsql" (DOCTRINE requires composer install)
DB_DRIVER=
# Hostname or IP address of your database server
DB_HOST=
# Name of the database to connect
DB_NAME=
# Username for your database
DB_USER=
# Password for your database
DB_PASSWORD=
# Character set for database connection, default: utf8mb4
DB_CHARSET=
# Port for your database server, default: 3306 for MySQL
DB_PORT=

### Mailer settings
# Sender name, default: "${APP_NAME}"
MAIL_FROM_NAME="${APP_NAME}"
# Sender email, default: "${APP_EMAIL}"
MAIL_FROM_EMAIL="${APP_EMAIL}"
# Enable SMTP; value true or false; if true, configure the SMTP settings below
MAIL_SMTP=false
# SMTP server hostname; Leave empty when MAIL_SMTP=false
MAIL_HOST=
# SMTP authentication username
MAIL_USERNAME=
# SMTP authentication password
MAIL_PASSWORD=
# SMTP port (optional), e.g. 465 or 587; configure together with MAIL_SECURE
MAIL_PORT=
# SMTP encryption; value ssl or tls; configure together with MAIL_PORT
MAIL_SECURE=

### API / JWT CONFIG ###
# Global API enabler, enable or disable true/false
API_ENABLED=false
# Possible values: "auto" | "native" | "guzzle"
API_CLIENT_DRIVER=
# Secure JWT key: "api-secret-key"
API_JWT_SECRET=
# Token lifetime (e.g. 3600 = 1h)
API_JWT_EXPIRATION=

### Google reCAPTCHA v3
# RECAPTCHA_SITE_KEY=
# RECAPTCHA_SECRET_KEY=
