### Environment variables .env

### General settings, *ATTENTION! Configure files .htaccess in folder main and /public for RewriteBase
# Path to application (Example: https://domain.com or http://localhost/dbmframework/)
APP_URL="http://localhost/"
# Name of the project or owner (Domain.com)
APP_NAME="My application"
# E-mail of the owner (administrator)
APP_EMAIL="email@domain.com"
# Languages ("PL|EN|DE|...") separated by a vertical line; first one as default.
# If you don't use translations leave the parameter empty.
APP_LANGUAGES=EN|PL
# Application environments: "production" or "development", by default production
APP_ENV=development
# Application authentication session name key; for security write unique key name 'dbmUserPIN'
APP_SESSION_KEY=dbmUserId00110001
# Dir path to application panel, for security enter 'panelPIN'
APP_PANEL=panel0101

### Cache settings
# Page caching: enable or disable true/false, default=true, use cache to avoid recompilation
CACHE_ENABLED=false

### Database settings
# Database driver, default 'PDO|pdo_mysql' / pdo_pgsql, optional DOCTRINE - requires Composer installation
DB_DRIVER=
# Hostname or IP address of your database server
DB_HOST=
# Name of the database to connect
DB_NAME=
# Username for your database
DB_USER=
# Password for your database
DB_PASSWORD=
# Character set for database connection, default: utf8mb4
DB_CHARSET=
# Port for your database server, default: 3306 for MySQL
DB_PORT=

### Mailer settings
# Sender name, default: "${APP_NAME}"
MAIL_FROM_NAME="${APP_NAME}"
# Sender email, default: "${APP_EMAIL}"
MAIL_FROM_EMAIL="${APP_EMAIL}"
# SMTP ON/OFF; value true or false, if true enter the mail settings
MAIL_SMTP=false
# SMTP server; localhost - for sendmail (MAIL_SMTP=false)
MAIL_HOST=
# SMTP username
MAIL_USERNAME=
# SMTP password
MAIL_PASSWORD=
# SMTP secure; value empty or tls or ssl
MAIL_SECURE=
# SMTP port
MAIL_PORT=

### API / JWT CONFIG ###
# Global API enabler, enable or disable true/false
API_ENABLED=false
# Possible values: "auto" | "native" | "guzzle"
API_CLIENT_DRIVER=
# Secure JWT key: "api-secret-key"
API_JWT_SECRET=
# Token lifetime (e.g. 3600 = 1h)
API_JWT_EXPIRATION=

### Google reCAPTCHA v3
# RECAPTCHA_SITE_KEY=
# RECAPTCHA_SECRET_KEY=
