# ADVANCED GITIGNORE - Whitelist

# =========================
# IGNORUJ WSZYSTKO
# =========================
*

# =========================
# POZWÓL NA KATALOGI
# =========================
!*/

# =========================
# GLOBALNE PLIKI (DOŁACZ)
# =========================
!.env.example
!.gitattributes
!.gitignore
!composer.json
!LICENSE.txt
!phpunit.xml
!README.md
!README.pl.md

# =========================
# FRAMEWORK (DOŁĄCZ)
# =========================
!/bin/dbm
!/bootstrap/**
!/libraries/**
!/public/**

# =========================
# DOCUMENTS (TYLKO WYBRANE)
# =========================
!/_Documents/_Docs/**
!/_Documents/_Server/**
!/_Documents/packages/cmslite.zip
# ignoruj
/_Documents/backups
/_Documents/extracted

# =========================
# MODULES (TYLKO WYBRANE)
# =========================
/modules/*
!/modules/
!/modules/Installer/
!/modules/Installer/**

# =========================
# PUBLIC (TYLKO WYBRANE)
# =========================
!/public
# !/public/.htaccess
!/public/favicon.ico
!/public/index.php
# ignoruj (tymczasowo dla localhost)
# wymaga usuń z git: git rm --cached public/.htaccess
# przywróć: git add public/.htaccess
/public/.htaccess

# =========================
# SRC (TYLKO WYBRANE)
# =========================
!/src/Controller/**
!/src/Infrastructure/Container/**
!/src/Infrastructure/Database/**
!/src/Service/**
!/src/Shared/Installation/**
!/src/System/**
# ignoruj
/src/Shared/Security
/src/System/Module/MailerModule.php

# =========================
# TEMPLATES (TYLKO WYBRANE)
# =========================
/templates/*

!/templates/_component
!/templates/_include
!/templates/index

!/templates/base_start.phtml
!/templates/_component/messages_dismissing.phtml
!/templates/_include/start_footer.phtml
!/templates/_include/start_header.phtml
!/templates/_include/start_navbar.phtml
!/templates/index/index.phtml
!/templates/index/start.phtml

# =========================
# TRANSLATIONS
# =========================
/translations/*

!/translations/main.en.xlf
!/translations/main.pl.xlf
!/translations/validation.en.xlf
!/translations/validation.pl.xlf

# =========================
# TESTY
# =========================
/tests/*

!/tests/bootstrap.php
!/tests/App
/tests/App/*
!/tests/App/ExampleUnitTest.php

# =========================
# IGNOROWANE (NA KOŃCU!)
# =========================

## Framework
/vendor
/var
.env

## Project
/__Dokumenty
/data
/public/modules
/storage
.vscode
