includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    # - vendor/shipmonk/phpstan-rules/rules.neon

parameters:
    level: 6
    bootstrapFiles:
        - .phpstan-bootstrap.php

    scanFiles:
        - bootstrap/runtime.php
        - bootstrap/autoload.php
        - bootstrap/support.php
        - bootstrap/handler.php

    paths:
        - src
        - modules

    checkMissingIterableValueType: true

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # tymczasowo ignoruj noisy rzeczy
        - '#Call to an undefined method#'
