/* --- Start Stylesheets --- */

body {
    background-color: #f8f9fa;
}

.dbm-box-welcome-header {
    background-color: #e11d48;
    color: #fff;
}

.dbm-box-welcome-header h1, .dbm-box-welcome-action h3 {
    color: #fff;
}

.dbm-box-welcome-header .h-desc {
    color: #cbd5e1;
}

.dbm-box-welcome-features {
    background-color: #f9f9f9;
}

.dbm-box-welcome-action {
    background: linear-gradient(to right, #ec4899, #8b5cf6, #4f46e5);
}

.dbm-btn-gradient {
    background-image: linear-gradient(to right, #e11d48 0%, #be123c 51%, #e11d48 100%);
}

.dbm-btn-gradient {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    background-position: right center;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.dbm-btn-gradient:hover {
    background-position: left center;
    color: #fff;
    text-decoration: none;
}

.dbm-box-install {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dbm-list-language .dropdown-menu {
    min-width: 90px;
}

.dbm-list-language .dropdown-item {
    background-color: transparent;
}

.dbm-list-language .dropdown-item.active,
.dbm-list-language .dropdown-item:active {
    background-color: #e8ebf5;
    color: var(--dbm-primary);
}

.dbm-list-language .dbm-btn-flag {
    background-color: #f6f7fb !important;
    border: none;
    width: 36px;
    height: 36px;
    padding: 0;
}

.dbm-list-language .dbm-btn-flag.dropdown-toggle::after {
    display: none !important;
}


.dbm-x-small {
    font-size:.750em;
}

/* --- Installer --- */
.dbm-installer-steps .dbm-step-index {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #e9ecef;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* .list-group-item.active {
    color: #000;
    background-color: #e2e8f0;
    border-color: #cbd5e1;
}*/

/* --- Media queries --- */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .dbm-box-welcome-header .h-desc {
        text-indent: 5%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .dbm-nav-max-width {
        max-width: 60px;
    }
}
